.service {
  height: 400px;
  background-color: aliceblue;
  padding: 10px;
  border-radius: 10px;
  position: relative;
  text-align: center;
}

.service img {
  height: 300px;
  width: 400px;
  border-radius: 10px;
}

.service_btn {
  position: absolute;
  bottom: 10px;
  left: 37%;
}
